* {
    margin: 0;
    padding: 0;
}

.main-index {
    background: gainsboro;
    display: flex;
    flex-wrap: wrap;
    
}
.main-index div{
    flex-basis: 400px;
}

section {
    background: gold;
    font-size: 2.2em;
}


